<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tienda en linea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="login" routerLink="/login">
        <ion-icon name="log-in-outline"></ion-icon>
        Login
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
