<ion-header>
  <ion-toolbar>
    <ion-title>BIENVENIDO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h2>¡Gracias por registrate!</h2>
      <p>Por favor revisa tu correo y haz click en el enlace para verificar tu cuenta.</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="sendVerE()"
        >Reenviar correo de verificación</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block" [routerLink]="['/login']"
        >Iniciar Sesión</ion-button>
    </ion-col>
  </ion-row>
</ion-content>