<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Crea tu cuenta
      </ion-card-title>
      <ion-card-subtitle>
      <strong>Regístrate</strong> para poder realizar tu lista de compras.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Correo Electrónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña"></ion-input>
      </ion-item><br>

      <ion-button onclick="registro()" [routerLink] = "['/login']">Regístrate</ion-button><br><br>
      <ion-card-subtitle>
        Si ya tienes una cuenta
      </ion-card-subtitle>
      <ion-button [routerLink] = "['/login']">Inicia Sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
  