<ion-header>

</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
      Inicia Sesión
      </ion-card-title>
      <ion-card-subtitle>
      Para realizar tus pedidos
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Correo Electrónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña"></ion-input>
      </ion-item>
      <br>

      <ion-button>Inicia Sesión</ion-button><br><br>
      <ion-card-subtitle>
        Si aún no tienes una cuenta
      </ion-card-subtitle>
      <ion-button [routerLink] = "['/registro']">Crea tu cuenta</ion-button>
    
    </ion-card-content>
  </ion-card>

</ion-content>