<ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>¿Qué deseas hacer?</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-button onclick="logout()" fill="clear">
          Cerrar Sesión 
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink] = "['/info']" fill="clear">
          Conócenos
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tienda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of articulos; let index">
      <ion-card>
        <ion-card-header>
          <ion-card-title #nombre>{{item.nombre}}</ion-card-title>
          <ion-card-subtitle #precio>{{item.precio}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content #tipo>{{item.tipo}}</ion-card-content>
        <ion-button fill="clear" onclick="insertarArticulo(nombre, precio, tipo)">Estoy interesado</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
